node_modules
package-lock.json
cypress/screenshots
cypress/videos
cypress/reports
cypress/results
browserstack.json
cypress/e2e/atividadesAula
.DS_STORE
cypress/.DS_Store
cypress/downloads/
log/
npm_install_debug.log
results/